article{
    display: flex;
    flex-direction: column;
}
/* 시작화면 외에 다른 article로 tag도 flex 세로 정렬 적용  */
.question{
    display:none;
    /* 처음 시작하는 화면에서는 안보이게 설정 */
}
.result{
    display: none;
}
#dessert-img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /* 중앙정렬 margin 0 auto 하면 됨  */
}
#share{
    margin: 0 auto;
}
#ad{
    width: 320px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}
.banner-imgt{
    width: 300px;
}